@CHARSET "UTF-8";

.imagemCentralizada{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -180px;
	
	/*Essa duas propriedades são responsáveis por ajustar a imagem a tela*/
	max-width:100%;
	comentheight:auto;
	}

.divTopo{
	padding-bottom: 5px;
}

.divCabecalho{
	padding-bottom: 5px;
}

/*Altera o tamanho das fontes dos componentes do primefaces*/
.ui-widget, .ui-widget .ui-widget {
font-size: 98% !important;
}

.imagemRodape{
	position: fixed;
	bottom: 0;
	
	max-width:100%;
	comentheight:auto;
	overflow:auto;
	
	top: 100%;
	height: 15%; 
	width: 99%;
	float: left;
	float: right;
	
	/*padding-top: 5%;*/
	
	margin-top: -120px;
}

/*
.divRodape{
	padding-top: 15%;
}*/